@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
/* line 26 */
.example-view {
  position: relative;
  padding: 30px;
  margin-bottom: 30px;
  border: 1px solid #bfc1c3;
}
/* line 32 */
.example-view:after {
  content: 'Example';
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  background-color: #bfc1c3;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2px 8px;
}

/* line 46 */
.example-code pre {
  position: relative;
  padding-top: 30px;
  margin-bottom: 30px;
}
/* line 51 */
.example-code pre:after {
  content: 'Markup';
  font-family: "nta", Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  background-color: #bfc1c3;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2px 8px;
}

/* line 67 */
.example-view .grid-row [class*='column-'] > p {
  height: 60px;
  background-color: #d5e8f3;
  text-indent: -999em;
  margin: 0;
}

/* line 77 */
.example-view.utilities > div {
  padding: 1px 0;
  background-color: #fff2d3;
  margin-bottom: 15px;
}
/* line 83 */
.example-view.utilities [class*='collapse-'], .example-view.utilities [class*='expand'] {
  background-color: #d5e8f3;
}

/* line 93 */
.division-standard {
  margin-top: 30px;
  padding-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #dee0e2;
  border-bottom: 1px solid #dee0e2;
}

/* line 102 */
.division-standard-top {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #dee0e2;
}

/* line 108 */
.division-standard-bottom {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #dee0e2;
}

/* line 114 */
.division-primary {
  margin-top: 30px;
  padding-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-top: 4px solid #2b8cc4;
  border-bottom: 4px solid #2b8cc4;
}

/* line 123 */
.division-primary-top {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 4px solid #2b8cc4;
}

/* line 129 */
.division-primary-bottom {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 4px solid #2b8cc4;
}

/* line 135 */
.division-secondary {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 2px solid #dee0e2;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid #dee0e2;
}

/* line 144 */
.division-secondary-top {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 2px solid #dee0e2;
}

/* line 150 */
.division-secondary-bottom {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid #dee0e2;
}
